#1 Odd Up, Even Down — N Times
Create a function that performs an even-odd transform to a list, n times. Each even-odd transformation:

Adds two (+2) to each odd integer.
Subtracts two (-2) from each even integer.
Examples
even_odd_transform([3, 4, 9], 3) ➞ [9, -2, 15]
# Since [3, 4, 9] => [5, 2, 11] => [7, 0, 13] => [9, -2, 15]

even_odd_transform([0, 0, 0], 10) ➞ [-20, -20, -20]

even_odd_transform([1, 2, 3], 1) ➞ [3, 0, 5]
Notes
N/A

In [1]:
def even_odd_transform(lst, n):
    for _ in range(n):
        lst = [num + 2 if num % 2 != 0 else num - 2 for num in lst]
    return lst

In [2]:
even_odd_transform([3, 4, 9], 3)

[9, -2, 15]

#2 Collatz Conjecture
A Collatz sequence is generated like this. Start with a positive number. If it's even, halve it. If it's odd, multiply it by three and add one. Repeat the process with the resulting number. The Collatz Conjecture is that every sequence eventually reaches 1 (continuing past 1 just results in an endless repeat of the sequence 4, 2, 1).

The length of the sequence from starting number to 1 varies widely.

Create a function that takes a number as an argument and returns a tuple of two elements — the number of steps in the Collatz sequence of the number, and the highest number reached.

Examples
collatz(2) ➞ (2, 2)
# seq = [2, 1]

collatz(3) ➞ (8, 16)
# seq = [3, 10, 5, 16, 8, 4, 2, 1]

collatz(7) ➞ (17, 52)
# seq = [7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

collatz(8) ➞ (4, 8)
# seq = [8, 4, 2, 1]
Notes
(Improbable) Bonus: Find a positive starting number that doesn't reach 1, and score a place in Math history plus a cash prize.

In [3]:
def collatz(num):
    steps = 0
    highest = num

    while num != 1:
        if num % 2 == 0:
            num = num // 2
        else:
            num = num * 3 + 1

        steps += 1
        highest = max(highest, num)

    return (steps, highest)

In [4]:
collatz(2)

(1, 2)

#3 The Most Brilliant Exciting Fantastic Number
Given a number n, return a sentence which describes the number in the following ways.

Always start the string with "The most".
If n is evenly divisible by 1, add "brilliant" to the sentence.
If n is evenly divisible by 2, add "exciting" to the sentence.
... 3, add "fantastic" to the sentence.
... 4, add "virtuous" to the sentence.
... 5, add "heart-warming" ...
... 6, add "tear-jerking" ...
... 7, add "beautiful" ...
... 8, add "exhilarating" ...
... 9, add "emotional" ...
If n is evenly divisible by 10, add inspiring to the sentence.
Always end the string with "number is" n!
Examples
describe_num(13) ➞ "The most brilliant number is 13!"
# 13 is evenly divisible by 1 only

describe_num(4) ➞ "The most brilliant exciting virtuous number is 4!"
# 4 is evenly divisible by 1, 2 and 4

describe_num(21) ➞ "The most brilliant fantastic beautiful number is 21!"
# 21 is evenly divisible by 1, 3 and 7

describe_num(60) ➞ "The most brilliant exciting fantastic virtuous heart-warming tear-jerking inspiring number is 60!"
# 60 is evenly divisible by 1, 2, 3, 4, 5, 6 and 10
Notes
Add words to the sentence in the order going down the list.
BONUS: Try to find the lowest number which uses all possible words in the sentence!

In [5]:
def describe_num(n):
    words = []
    for i in range(1, 11):
        if n % i == 0:
            if i == 1:
                words.append("brilliant")
            elif i == 2:
                words.append("exciting")
            elif i == 3:
                words.append("fantastic")
            elif i == 4:
                words.append("virtuous")
            elif i == 5:
                words.append("heart-warming")
            elif i == 6:
                words.append("tear-jerking")
            elif i == 7:
                words.append("beautiful")
            elif i == 8:
                words.append("exhilarating")
            elif i == 9:
                words.append("emotional")
            elif i == 10:
                words.append("inspiring")

    sentence = "The most " + " ".join(words) + " number is " + str(n) + "!"
    return sentence

In [6]:
describe_num(21)

'The most brilliant fantastic beautiful number is 21!'

#4 Strictly Increasing or Decreasing
Write a function that takes a list and determines whether it's strictly increasing, strictly decreasing, or neither.

Examples
check([1, 2, 3]) ➞ "increasing"

check([3, 2, 1]) ➞ "decreasing"

check([1, 2, 1]) ➞ "neither"

check([1, 1, 2]) ➞ "neither"
Notes
The last example does NOT count as strictly increasing, since 1-indexed 1 is not strictly greater than the 0-indexed 1.
Input lists have a minimum length of 2.

In [10]:
def check(lst):
    lst_1=list(lst)
    len(lst_1)==3
    for x in lst_1:
        if lst_1[x-1]<lst_1[x]<lst_1[x+1]:
            return "increasing"
        elif lst_1[x-1]>lst_1[x]>lst_1[x+1]:
            return "decreasing"
        else:
            return "neither"

In [11]:
check([1,2,3])

'increasing'

#5 Directionally Challenged
Suppose you are directionally challenged, and get lost easily. As a result, sometimes you walk in circles or make U-turns. You might take a sub-optimal route. Create a function that returns the difference in length between your path and the optimal path. Both paths reach the same destination.

You start at (0,0) and reach your destination by the end of the input list.

A demonstration:

Your route: ["N", "S", "E", "W", "E", "E", "E", "N"]  // 8
Optimal route: ["E", "E", "E", "N"] (or ["N", "E", "E", "E"], etc.) // 4
# Difference in length: 8 - 4 = 4

# Explanation: Your "S" cancels out your "N" and your "W" cancels out your "E" leaving you back at (0,0)
Examples
route_diff(["N", "E", "S", "W"]) ➞ 4
# You"ve just walked in a circle! You are back at the origin. Your optimal path was `[]`.

route_diff(["N", "N", "N", "E", "N", "E"]) ➞ 0
# No improvements here!

route_diff(["N", "S", "N", "S", "E", "W", "E", "E"]) ➞ 6
Notes
Remember that a N cancels out a S, and an E cancels out a W.

#6 Rock, Paper, Scissors!
Abigail and Benson are playing Rock, Paper, Scissors.

Each game is represented by an array of length 2, where the first element represents what Abigail played and the second element represents what Benson played.

Given a sequence of games, determine who wins the most number of matches. If they tie, output "Tie".

R stands for Rock
P stands for Paper
S stands for Scissors
Examples
calculate_score([["R", "P"], ["R", "S"], ["S", "P"]]) ➞ "Abigail"

# Benson wins the first game (Paper beats Rock).
# Abigail wins the second game (Rock beats Scissors).
# Abigail wins the third game (Scissors beats Paper). 
# Abigail wins 2/3.

calculate_score([["R", "R"], ["S", "S"]]) ➞ "Tie"

calculate_score([["S", "R"], ["R", "S"], ["R", "R"]]) ➞ "Tie"
Notes
N/A

In [17]:
def calculate_score(games):
    abigail_score = 0
    benson_score = 0

    for game in games:
        abigail_choice = game[0]
        benson_choice = game[1]

        if abigail_choice == benson_choice:
            continue
        elif (abigail_choice == "R" and benson_choice == "S") or (abigail_choice == "S" and benson_choice == "P") or (abigail_choice == "P" and benson_choice == "R"):
            abigail_score += 1
        else:
            benson_score += 1

    if abigail_score > benson_score:
        return "Abigail"
    elif benson_score > abigail_score:
        return "Benson"
    else:
        return "Tie"

In [19]:
calculate_score([["R", "R"], ["S", "S"]])

'Tie'

#6 Find the Bugs: Returning Valid Prices
There has been a masterdata issue which affected the prices of the products. Check if each product has a valid price (integer or float, and greater than or equal to zero). Products with a price of 0 are free and count as a valid price.

The return value should be a Boolean.

Examples
has_valid_price({ "product": "Milk", "price": 1.50 }) ➞ True

has_valid_price({ "product": "Cheese", "price": -1 }) ➞ False

has_valid_price({ "product": "Eggs", "price": 0 }) ➞ True

has_valid_price({ "product": "Cereals", "price": "3.0" }) ➞ False

has_valid_price(None) ➞ False
Notes
Type of the price should be an integer/float. If it's anything else, you should return False.

In [23]:
def has_valid_price(product,price):
    product=str(product)
    price=float(price)
    if price>0 or price==0:
        return True
    else:
        return False

In [24]:
has_valid_price("milk",1.50)

True

In [25]:
has_valid_price("eggs",-1)

False

#7 The Conquering Queen
In chess, queens can move any number of squares horizontally, vertically or diagonally.

Given the location of your queen and your opponents' queen, determine whether or not you're able to capture your opponent's queen. Your location and your opponents' location are the first and second elements of the list, respectively.

Examples
can_capture(["A1", "H8"]) ➞ True
# Your queen can move diagonally to capture opponents' piece.

can_capture(["A1", "C2"]) ➞ False
# Your queen cannot reach C2 from A1 (although a knight could).

can_capture(["G3", "E5"]) ➞ True
Notes
Assume there are no blocking pieces.

In [26]:
def can_capture(queens):
    your_queen = queens[0]
    opponent_queen = queens[1]

    if your_queen[0] == opponent_queen[0] or your_queen[1] == opponent_queen[1] or abs(ord(your_queen[0]) - ord(opponent_queen[0])) == abs(int(your_queen[1]) - int(opponent_queen[1])):
        return True
    else:
        return False

In [27]:
can_capture(["A1", "C2"])

False

#8 Temperature Converter
Create a function that converts Celsius to Fahrenheit and vice versa.

Examples
convert("35*C") ➞ "95*F"

convert("19*F") ➞ "-7*C"

convert("33") ➞ "Error"
Notes
Round to the nearest integer.
If the input is incorrect, return "Error".
For the formulae to convert back and forth, check the Resources tab.

In [28]:
def convert(temp):
    if temp.endswith("*C"):
        try:
            celsius = int(temp[:-2])
            fahrenheit = round(celsius * 9/5 + 32)
            return str(fahrenheit) + "*F"
        except ValueError:
            return "Error"
    elif temp.endswith("*F"):
        try:
            fahrenheit = int(temp[:-2])
            celsius = round((fahrenheit - 32) * 5/9)
            return str(celsius) + "*C"
        except ValueError:
            return "Error"
    else:
        return "Error"

In [29]:
convert("35C")

'Error'

In [30]:
convert("35*C")

'95*F'

#9 Return the End Letters of Numbers
Create a function that takes an integer and returns it as an ordinal number. An Ordinal Number is a number that tells the position of something in a list, such as 1st, 2nd, 3rd, 4th, 5th, etc.

Examples
return_end_of_number(553) ➞ "553-RD"

return_end_of_number(34) ➞ "34-TH"

return_end_of_number(1231) ➞ "1231-ST"

return_end_of_number(22) ➞ "22-ND"

return_end_of_number(412) ➞ "412-TH"
Notes
Check the Resources tab for more info on ordinal numbers.

In [34]:
def return_end_of_number(number):
    suffix = "-TH"

    if number % 100 not in [11, 12, 13]:
        last_digit = number % 10
        if last_digit == 1:
            suffix = "-ST"
        elif last_digit == 2:
            suffix = "-ND"
        elif last_digit == 3:
            suffix = "-RD"

    return str(number) + suffix

In [35]:
return_end_of_number(22)

'22-ND'

#10 RNA Reverse Complement
Create a function that finds the reverse complement of a ribonucleic acid (RNA) strand. The RNA will be represented as a string containing only the characters "A", "C", "G" and "U". Since RNA can only (canonically) allow pairings of A/U and G/C, the complement of an RNA would be as follows:

Original	Complement
"AAA"	"UUU"
"UUU"	"AAA"
"GGG"	"CCC"
"CCC"	"GGG"
Your function should find the complement on the right AND also reverse the resulting string.

Examples
reverse_complement("GUGU") ➞ "ACAC"

reverse_complement("UCUCG") ➞ "CGAGA"

reverse_complement("CAGGU") ➞ "ACCUG"
Notes
You can assume all input seqeuences will be valid.