In [ ]:
#1.write a python programm to convert a string to lower case

In [4]:
x=""
for y in "ABCD":
    x=x+y
    x=x.lower()

In [5]:
x

'abcd'

In [ ]:
#2.write a python programm to convert only the odd indexed character to lower case.

In [5]:
b=input("type a word to convert odd index letters to lower case")
y=list(b)
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x])
    else:
        a+=str(b[x]).lower()
print(a)

type a word to convert odd index letters to lower casePHYTON
PhYtOn

In [ ]:
#3.write a python programm to convert only the even indexed character to lower case.

In [7]:
b=input("type a word to convert even index letters to lower case")
y=list(b)
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x]).lower()
    else:
        a+=str(b[x])
print(a)

type a word to convert even index letters to lower casePHYTON
pHyToN

In [ ]:
#4.write a python programm to convert only the odd indexed character to lower case.

In [9]:
b=input("type a word to convert odd index letters to upper case")
y=list(b)
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x])
    else:
        a+=str(b[x]).upper()
print(a)

type a word to convert odd index letters to upper casepython
pYtHoN

In [ ]:
#5.write a python programm to convert only the even indexed character to upper case.

In [10]:
b=input("type a word to convert even index letters to upper case")
y=list(b)
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x]).upper()
    else:
        a+=str(b[x])
print(a)

type a word to convert even index letters to upper casepython
PyThOn

In [ ]:
#6.write a python code using a variable which contains name,age,phone no,fathers name, mothers named bio-data and now use it

In [18]:
name=input("type your name:")
gender=input("type your gender:")
age=int(input("type your age"))
father_name=str(input("type your father name:"))
mother_name=str(input("type your mother name:"))
phonenumber=int(input("type your phone number:"))

bio_data= " my name is{}, my gender is {}, my age is {}, my father_name is {}, my mother_name is {}, my phonenumber is {}"
print(bio_data.format(name,gender,age,father_name,mother_name,phonenumber))

type your name:Meghana Rampally
type your gender:female
type your age24
type your father name:sri hari
type your mother name:sri lakshmi
type your phone number:8332906346
 my name isMeghana Rampally, my gender is female, my age is 24, my father_name is sri hari, my mother_name is sri lakshmi, my phonenumber is 8332906346

In [ ]:
#7.write a python code to count @

In [19]:
x="12bhbsj@@2@2@gg@@2@2@hj"
x.count("@")

8

In [ ]:
#8.write a python code to only extract names from the string
"name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"

In [21]:
names = "name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
name_list = names.split(',')
extracted_names = []

for name in name_list:
    extracted_name = name.split('.')[0].strip()
    extracted_names.append(extracted_name)

for extracted_name in extracted_names:
    print(extracted_name)

name1
name2
name3

In [ ]:
#9.Given a string of odd length greater that 9,return a new string made of the middle three characters of a given String

In [22]:
string="mynameissan"
string[4:7]

'mei'

In [ ]:
#10.Write a python program to insert a 2 string in the middle of 1 string

In [1]:
x=input("Please enter a string ")
y=input("Enetr a string of 2 characters you want to insert in the middle")
z=len(x)//2
print(x[:z]+y+x[z:])

Please enter a string meghana
Enetr a string of 2 characters you want to insert in the middlegha
megghahana

In [ ]:
#11.Write a program to remove vowels fromthe entire alphabets

In [2]:
x=input("Enetr a string: ")
z=list(x)
a=""
for y in range(0,len(x)):
    if z[y]=="a" or z[y]=="e" or z[y]=="i" or z[y]=="o" or z[y]=="u" or z[y]=="A" or z[y]=="E" or z[y]=="I" or z[y]=="O" or z[y]=="U":
        a+=""
    else:
        a+=str(z[y])
print(a)

Enetr a string: hello
hll