In [5]:
#1 Create a function that takes a boolean variable flag and returns it as a string.
#Examples
#bool_to_string(True) ➞ "True"

#bool_to_string(False) ➞ "False"


def bool_to_string(flag):
    if flag==True:
        return "True"
    else:
        return "False"

In [6]:
bool_to_string(True)

'True'

In [8]:
#2 Create a function that returns True when num1 is equal to num2; otherwise return False.
#Examples
#is_same_num(4, 8) ➞ False

#is_same_num(2, 2) ➞  True

#is_same_num(2, "2") ➞ False


def f1(num1,num2):
    if num1==num2:
        return True
    else:
        return False

In [9]:
f1(2,3)

False

In [10]:
#3 Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, otherwise return False.
#Examples
#less_than_or_equal_to_zero(5) ➞ False

#less_than_or_equal_to_zero(0) ➞ True

#less_than_or_equal_to_zero(-2) ➞ True


def number(value):
    if value<=0:
        return True
    else:
        return False

In [11]:
number(-2)

True

In [13]:
#4 Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, and would like to greet him slightly differently. She added a special case in her function, but she made a mistake.
#Can you help her?
#Examples
#greeting("Matt") ➞ "Hello, Matt!"

#greeting("Helen") ➞ "Hello, Helen!"

#greeting("Mubashir") ➞ "Hello, my Love!"

def emmy(person_name):
    if person_name=="Mubashir":
       print("hello,my Love!")
    else:
        print("hello, person_name")

In [15]:
emmy("Mubashir")

hello,my Love!

In [16]:
#5 Create a function that takes two arguments. Both arguments are integers, a and b. Return True if one of them is 10 or if their sum is 10.
#Examples
#makes10(9, 10) ➞ True

#makes10(9, 9) ➞ False

#makes10(1, 9) ➞ True

def operation(num1,num2):
    if num1==10 or num2==10 or num1+num2==10:
        return True
    else:
        return False

In [17]:
operation(1,9)

True

In [20]:
#6 Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay; otherwise return False.
#To illustrate:
#profitable_gamble(0.2, 50, 9)
#... should yield True, since the net profit is 1 (0.2 * 50 - 9), and 1 > 0.

def profitable_gamble(prob,prize,pay):
    if prob*prize>pay:
        return True
    else:
        return False

In [21]:
profitable_gamble(0.2,50,9)

True

In [22]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.
#Examples
#divisible(1) ➞ False

#divisible(1000) ➞ True

#divisible(100) ➞ True

def divisible(num):
    if num%100==0:
        return True
    else:
        return False

In [23]:
divisible(1)

False

In [24]:
divisible(200)

True

In [25]:
#8 Create a function that takes two strings as arguments and return either True or False depending on whether the total number of characters in the first string is equal to the total number of characters in the second string.
#Examples
#comp("AB", "CD") ➞ True

#comp("ABC", "DE") ➞ False

#comp("hello", "edabit") ➞ False

def comp(string1,string2):
    if len(string1)==len(string2):
        return True
    else:
        return False

In [26]:
comp("abbhhjedj","hiwhihw")

False

In [27]:
#9 Given a string, return True if its length is even or False if the length is odd.
#Examples
#odd_or_even("apples") ➞ True
# The word "apples" has 6 characters.
# 6 is an even number, so the program outputs True.

#odd_or_even("pears") ➞ False
# "pears" has 5 letters, and 5 is odd.
# Therefore the program outputs False.

#odd_or_even("cherry") ➞ True


def f1(string):
    if len(string)%2==0:
        return True
    else:
        return False

In [28]:
f1("hbehbedj")

True

In [32]:
#10 Create a function that takes a string; we'll say that the front is the first three characters of the string. If the string length is less than three characters, the front is whatever is there. Return a new string, which is three copies of the front.
#Examples
#front3("Python") ➞ "PytPytPyt"

#front3("Cucumber") ➞ "CucCucCuc"

#front3("bioshock") ➞ "biobiobio"

def f1(string):
    if len(string)<3:
        return string
    else:
        return string[:3]*3

In [33]:
f1("meghana")

'megmegmeg'

In [1]:
#11 Darts is a target game played by throwing feathered darts at a circular board with numbered spaces. Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance from the middle. You need to create a function that takes the dart location as two cartesian coordinates (x, y) and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).
#Bullseye and inner circle scores = 10 points
#Middle ring scores = 5 points
#Outer ring scores = 1 point
#Outside the target = 0 points
#We play it simple so a dart in the double or treble ring counts as usual and does not affect the segment score.
#Board and circle radius is as follows:
#Board radius and outer circle radius = 10 units
#Middle circle radius = 5 units
#Inner circle radius = 1 unit
#Short Description
#Convert cartesian coordinates (x, y) to polar coordinates (R, phi) and return the score based on the R value. R > 10 gives 0 points, 10 >= R > 5 gives 1 point, 5 >= R > 1 gives 5 points, R <= 1 gives 10 points.
#Examples
#darts_scoring(0, 0) ➞ 10

#darts_scoring(3, 2) ➞ 5

#darts_scoring(0, -0.8) ➞ 10



def calculate_dart_score(x,y):
    distance=(x**2+y**2)**0.5
    if distance<=1:
        return 10
    elif distance<=5:
        return 5
    elif distance<=10:
        return 1
    else:
        return 0

In [2]:
calculate_dart_score(2,3)

5

In [35]:
#12 Write a function that returns True if a year is a leap, otherwise return False.
#A year is a "leap year" if it lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, creating February 29.
#A leap year occurs every four years, and will take place if the year is a multiple of four. The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must be divisible by 400 to be a leap year.
#Look at the examples, and if you need help, look at the resources panel.
#Examples
#leap_year(1990) ➞ False

#leap_year(1924) ➞ True

#leap_year(2021) ➞ False

def check_for_leap(year):
    if year%4==0:
        return  True
    else:
        return False

In [36]:
check_for_leap(2004)

True

In [37]:
check_for_leap(1990)

False

In [35]:
#13 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine whether or not the hurdler can clear all the hurdles.
#A hurdler can clear a hurdle if their jump height is greater than or equal to the hurdle height.
#Examples
#hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True

#hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False

#hurdle_jump([5, 4, 5, 6], 10) ➞ True

#hurdle_jump([1, 2, 1], 1) ➞ False

def f1(hurdle_height,jump_height):
    for x in hurdle_height:
        if jump_height<x:
            return True
        else:
            return False

In [36]:
f1([1,2,3,4,7],jump_height=6)

False

In [45]:
#14 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.
#Number
#Month Name
#1
#January
#2
#February
#3
#March
#4
#April
#5
#May
#6
#June
#7
#July
#8
#August
#9
#September
#10
#October
#11
#November
#12
#December

#Examples
#month_name(3) ➞ "March"

#month_name(12) ➞ "December"

#month_name(6) ➞ "June"

def get_month_name(month_number):
    months = [
        "January", "February", "March", "April",
        "May", "June", "July", "August",
        "September", "October", "November", "December"
    ]

    if month_number < 1 or month_number > 12:
        return "Invalid month number"
    else:
        return months[month_number - 1]

In [46]:
get_month_name(3)

'March'

In [47]:
#15 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only identical elements.

def count_identical_sublists(lst):
    count = 0

    for sub_list in lst:
        if len(set(sub_list)) == 1:
            count += 1

    return count

In [57]:
my_list = [[1,1,1],[2,2,2],[3,3,3],[4,4,4],[5,5,6],[1,2,3,4,5]]
result = count_identical_sublists(my_list)
print(result)

4

In [49]:
#16.16 A bartender is writing a simple program to determine whether he should serve drinks to someone. He only serves drinks to people 18 and older and when he's not on break.
#Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.
#Examples
#should_serve_drinks(17, True) ➞ False

#should_serve_drinks(19, False) ➞ True

#should_serve_drinks(30, True) ➞ False

def bartender(age,break_time="yes"or"no"):
    if age>=18 and break_time=="yes":
        return "serve"
    else:
        return "no_serving"

In [50]:
bartender(20,"yes")

'serve'

In [52]:
#17 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.
#Examples
#AND(1, 1) ➞ 1
#AND(0, 0) ➞ 0

#OR(1, 0) ➞ 1
#OR(1, 1) ➞ 1

#NOT(0) ➞ 1
#NOT(1) ➞ 0
def AND_gate(a,b):
    return a and b
def OR_gate(a,b):
    return a and b
def NOT_gate (a,b):
    return a and b
a=input("type 1 or 0 :")
b=input("type 1 or 0 :")

output_AND=AND_gate(a,b)
print("AND gate output :",output_AND)

output_OR=OR_gate(a,b)
print("OR agte output :",output_OR)

output_NOT=NOT_gate(a,b)
print("NOT gate output :",output_NOT)

type 1 or 0 :0
type 1 or 0 :1
AND gate output : 1
OR agte output : 1
NOT gate output : 1

In [46]:
#18 Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") as input and calculates the area of that shape.
#Examples
#area_shape(2, 3, "triangle") ➞ 3

#area_shape(8, 6, "parallelogram") ➞ 48

#area_shape(2.9, 1.3, "parallelogram") ➞ 3.77

def shapes(base,height,shape="triangle"or"parallelogram"):
    if shape=="triangle":
        area_of_triangle=0.5*base*height
        return area_of_triangle
    else:
        area_of_parallelogram=base*height
        return area_of_parallelogram

In [48]:
shapes(3,2,"parallelogram")

6

In [53]:

#19 Create a function that takes a string (a random name). If the last character of the name is an "n", return True, otherwise return False.
#Examples
#is_last_character_n("Aiden") ➞ True

#is_last_character_n("Piet") ➞ False

#is_last_character_n("Bert") ➞ False

#is_last_character_n("Dean") ➞ True

def string(name):
    if name[-1]=="n":
        return True
    else:
        return False

In [54]:
string("meghana")

False

In [55]:
string("nithin")

True

In [56]:
#20 Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".
#Examples
#is_plural("changes") ➞ True

#is_plural("change") ➞ False

#is_plural("dudes") ➞ True

#is_plural("magic") ➞ False

def plural(word):
    if word[-1]=="s":
        return True
    else:
        return False

In [57]:
plural("megs")

True

In [58]:
plural("pen")

False

In [1]:
#21 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.
#Examples
#isEvenOrOdd(3) ➞ "odd"

#isEvenOrOdd(146) ➞ "even"

#isEvenOrOdd(19) ➞ "odd"

def isevenorodd(number):
    if number %2 ==0:
        return "even" 
    else:
        return "odd"

In [2]:
print(isevenorodd(2))

even

In [3]:
print(isevenorodd(7))

odd