In [1]:
#a

for y in range(6):
    for z in range(0,y):   
        print(y,end="")
    print()

1
22
333
4444
55555

In [2]:
#b


for y in range(7):
    for z in range(1,y):          
        print(z,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
#c

for y in range(1,6):
    for z in range(y,6):
        print(y,end="")           
    print()

11111
2222
333
44
5

In [1]:
#d


for y in range(1,6):
    for z in range(y,6):               
        print("5",end="")
    print()

55555
5555
555
55
5

In [24]:
#e

for y in range(5):
    for z in range(6-y):              
        print(z,end="")
    print()

012345
01234
0123
012
01

In [2]:
#f

for y in range(1,10,2):
    for z in range((y//2)+1):
        print(y,end=" ")                          
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [11]:
#g

for y in range(5,0,-1):
    for z in range(y):
        print(y,end="")                    
    print()

55555
4444
333
22
1

In [22]:
#h

for y in range(1, 6):
    for z in range(y, 0, -1):                   
        print(z, end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [23]:
#i

for y in range(5,0,-1):
    for z in range(y, 0, -1):              
        print(z,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [10]:
#o

for y in range(1, 6):
    for z in range(y, 0, -1):                   
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
#q

for y in range(5,0,-1):
    for z in range(y, 0, -1):               
        print("*",end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [3]:
#j

1
3 2
6 5 4
10 9 8 7

1
2 1
3 2 1
4 3 2 1

In [4]:

for x in range(5):                           #k
    for z in range(5 - x - 1):
        print(" ", end="")
    for z in range(x + 1):
        print(z + 1, end=" ")
    
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [4]:
rows = 5 
for i in range(rows):                       #p
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for k in range(i + 1):
        print("*", end=" ")
    
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [3]:
for x in range(1,6):
    for y in range(1,6):
        if y<=x:
            print(x,end="")          #m
        else:
            print(y,end="")
    print()

12345
22345
33345
44445
55555

In [7]:
for x in range(1,9):
    z=1
    for y in range(1,x+1):
        print(x*z,end=" ")          #n
        z+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [8]:
z=1
for y in range(7,1,-1):            #r
    print(" "*z,end=" ")
    for x in range(y,1,-1):
        print("*",end=" ")
    z+=1
    print()

  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [10]:
z=1
for y in range(6,1,-1):
    print(" "*z,end=" ")           #s
    for x in range(y,1,-1):
        print("*",end="")
    z+=1
    print()

  *****
   ****
    ***
     **
      *

In [11]:
z=1
for y in range(8,1,-1):
    print(" "*y,end=" ")             #t
    for x in range(1,z+1):
        print("*",end=" ")
    z+=1
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *

In [12]:
for y in range(1,7):
    for x in range(1,y+1):
        print("*",end=" ")           #u
    print()
print()
for y in range(7,1,-1):
    for x in range(1,y):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
for y in range(1,6):
    for x in range(1,y):
        print("*",end=" ")           #v
    print()
for y in range(6,1,-1):
    for x in range(1,y):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
z=1
for y in range(5,1,-1):
    print(" "*y,end=" ")
    for x in range(1,z+1):           #w
        print("*",end="")
    z+=1
    print()
a=1
for y in range(6,1,-1):
    print(" "*a,end=" ")
    for x in range(1,y):
        print("*",end="")
    a+=1
    print()

      *
     **
    ***
   ****
  *****
   ****
    ***
     **
      *

In [20]:
z=1
for y in range(6,1,-1):            #x
    print(" "*z,end=" ")
    for x in range(1,y):
        print("*",end=" ")
    z+=1
    print()
z=5
for y in range(1,6):
    print(" "*z,end=" ")
    for x in range(y+1,1,-1):
        print("*",end=" ")
    z-=1
    print()

  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *

In [22]:
z=1
for y in range(6,1,-1):
    print(" "*y,end=" ")             #y
    for x in range(1,z+1):
        print("*",end=" ")
    z+=1
    print()
a=1
for y in range(7,1,-1):            
    print(" "*a,end=" ")
    for x in range(1,y):
        print("*",end=" ")
    a+=1
    print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [ ]:
#l

In [ ]:
#z

#    *
#   * *
#  *   *
# *     *
#*       *
# *     *
#  *   *
#   * *
#    *